<!DOCTYPE html>

<html lang="en" data-ng-app="hallmark.integration-ui">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta-entity-key name="Hbc-EntityKey" content="@ViewBag.EntityKey"></meta-entity-key>
    <title>@ViewBag.Title</title>
    <script> window.Hallmark = window.Hallmark || {}; </script>
    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="stylesheet" href="/Content/Tests.css" />
    @Scripts.Render(Links.Bundles.Scripts.Modernizr)
    @Scripts.Render(Links.Bundles.Scripts.Shims)
</head>
<body class="row-behindcanvas row-behindcanvas-right">
    <!--[if IEMobile]>
            <script>
                  @*  Must be first. IE10 mobile viewport fix *@
                  if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                      var msViewportStyle = document.createElement("style");
                      var mq = "@@-ms-viewport{width:auto!important}";
                      msViewportStyle.appendChild(document.createTextNode(mq));
                      document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
                  }
             </script>
    <![endif]-->
    @Html.Partial("_Menu")

    <div class="container-block container-block-expand">
        <div class="container nav-body-container">
            <noscript>
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> Please enable JavaScript in your browser!
                </div>
            </noscript>
            <div class="row" data-ng-hide="$root.hideBanner">
                <div class="col-lg-12 banner">
                    <div class="content-container" data-ng-hide="!$root.bannerText">
                        <div>
                            <span data-ng-bind="$root.bannerText" data-ng-cloak="true"></span>
                        </div>
                    </div>

                    @*<span data-ng-bind-html="$root.bannerImage"></span>*@
                    <content data-key="$root.bannerImageKey" data-lang="en"></content>
                </div>
            </div>
            @RenderBody()

            @Scripts.Render(Links.Bundles.Scripts.JQuery)
            @Scripts.Render(Links.Bundles.Scripts.Bootstrap)
            @Scripts.Render(Links.Bundles.Scripts.Underscore)
            @Scripts.Render(Links.Bundles.Scripts.Angular)
            @*@Html.RenderHtml("/Content/Partials/ContentPanels.html")*@
        </div>
    </div>



    @Scripts.Render(Links.Bundles.Scripts.Nav)
    @Scripts.Render(Links.Bundles.Scripts.App)
    @Scripts.Render(Links.Bundles.Scripts.Utilities)
    @Scripts.Render(Links.Bundles.Scripts.Polyfill)
</body>
</html>
